In [41]:
import pandas as pd
import numpy as np

In [44]:
df_raw = pd.read_csv('cleaned_top_5k.csv')
# 5k applications by rating count
df_raw.head()

,Unnamed: 0,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,...,Size,Minimum Android,Developer Website,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice
0,385470,WhatsApp Messenger,com.whatsapp,Communication,4.0,138557570.0,"5,000,000,000+",5.000000e+09,6265637751,True,...,19.2,Varies with device,1,"Oct 18, 2010","Jun 09, 2021",Everyone,1,False,False,True
1,304824,Instagram,com.instagram.android,Social,3.8,120206190.0,"1,000,000,000+",1.000000e+09,3559871277,True,...,19.2,Varies with device,1,"Apr 3, 2012","Jun 14, 2021",Teen,1,True,True,True
2,2222701,Facebook,com.facebook.katana,Social,2.3,117850066.0,"5,000,000,000+",5.000000e+09,6782619635,True,...,19.2,Varies with device,1,"Jun 16, 2021","Jun 16, 2021",Teen,1,True,True,False
3,881403,YouTube,com.google.android.youtube,Video Players & Editors,4.4,112440547.0,"5,000,000,000+",5.000000e+09,9766230924,True,...,19.2,Varies with device,1,"Oct 20, 2010","Jun 16, 2021",Teen,1,True,False,False
4,244319,Garena Free Fire - Rampage,com.dts.freefireth,Action,4.2,89177097.0,"500,000,000+",5.000000e+08,976536041,True,...,19.2,4.1 and up,1,"Dec 7, 2017","Jun 04, 2021",Mature 17+,1,False,True,True

In [45]:
# make a copy of this dataset because we will need raw data later

df = df_raw.copy()

In [46]:
# converting categorical data into numeric form 
binary_columns = ['Ad Supported', 'In App Purchases', 'Editors Choice', 'Free']

for x in binary_columns:
    df.loc[df[x] == True, x] = 1
    df.loc[df[x] == False, x] = 0

In [47]:
# drop useless columns
drop_columns = ['Released', 'Last Updated', 'Currency']

for x in drop_columns:
    df.drop([x], axis=1, inplace=True)

In [48]:
# create one hot encoding for category
df_categories = pd.get_dummies(df['Category'])
df_categories

,Action,Adventure,Arcade,Art & Design,Auto & Vehicles,Beauty,Board,Books & Reference,Business,Card,...,Simulation,Social,Sports,Strategy,Tools,Travel & Local,Trivia,Video Players & Editors,Weather,Word
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
df = pd.concat([df, df_categories], axis=1)

In [50]:
# one hot encoding for content rating
df_content_rating = pd.get_dummies(df['Content Rating'])
df = pd.concat([df, df_content_rating], axis=1)

In [51]:
# one hot encoding for min android verison
df_min_android = pd.get_dummies(df['Minimum Android'])
df = pd.concat([df, df_min_android], axis=1)
df.head()

,Unnamed: 0,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,...,4.4 and up,4.4W and up,5.0 - 8.0,5.0 and up,5.1 and up,6.0 and up,7.0 and up,7.1 and up,8.0 and up,Varies with device
0,385470,WhatsApp Messenger,com.whatsapp,Communication,4.0,138557570.0,"5,000,000,000+",5.000000e+09,6265637751,1,...,0,0,0,0,0,0,0,0,0,1
1,304824,Instagram,com.instagram.android,Social,3.8,120206190.0,"1,000,000,000+",1.000000e+09,3559871277,1,...,0,0,0,0,0,0,0,0,0,1
2,2222701,Facebook,com.facebook.katana,Social,2.3,117850066.0,"5,000,000,000+",5.000000e+09,6782619635,1,...,0,0,0,0,0,0,0,0,0,1
3,881403,YouTube,com.google.android.youtube,Video Players & Editors,4.4,112440547.0,"5,000,000,000+",5.000000e+09,9766230924,1,...,0,0,0,0,0,0,0,0,0,1
4,244319,Garena Free Fire - Rampage,com.dts.freefireth,Action,4.2,89177097.0,"500,000,000+",5.000000e+08,976536041,1,...,0,0,0,0,0,0,0,0,0,0

In [52]:
columns_to_drop = ['App Name', 'App Id', 'Category', 'Installs', 'Minimum Android', 'Content Rating']

for x in columns_to_drop:
    df.drop([x], axis=1, inplace=True)
    
df.head()

,Unnamed: 0,Rating,Rating Count,Minimum Installs,Maximum Installs,Free,Price,Size,Developer Website,Privacy Policy,...,4.4 and up,4.4W and up,5.0 - 8.0,5.0 and up,5.1 and up,6.0 and up,7.0 and up,7.1 and up,8.0 and up,Varies with device
0,385470,4.0,138557570.0,5.000000e+09,6265637751,1,0.0,19.2,1,1,...,0,0,0,0,0,0,0,0,0,1
1,304824,3.8,120206190.0,1.000000e+09,3559871277,1,0.0,19.2,1,1,...,0,0,0,0,0,0,0,0,0,1
2,2222701,2.3,117850066.0,5.000000e+09,6782619635,1,0.0,19.2,1,1,...,0,0,0,0,0,0,0,0,0,1
3,881403,4.4,112440547.0,5.000000e+09,9766230924,1,0.0,19.2,1,1,...,0,0,0,0,0,0,0,0,0,1
4,244319,4.2,89177097.0,5.000000e+08,976536041,1,0.0,19.2,1,1,...,0,0,0,0,0,0,0,0,0,0

In [53]:
ids = df["Unnamed: 0"]

df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

,Rating,Rating Count,Minimum Installs,Maximum Installs,Free,Price,Size,Developer Website,Privacy Policy,Ad Supported,...,4.4 and up,4.4W and up,5.0 - 8.0,5.0 and up,5.1 and up,6.0 and up,7.0 and up,7.1 and up,8.0 and up,Varies with device
0,4.0,138557570.0,5.000000e+09,6265637751,1,0.0,19.2,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1,3.8,120206190.0,1.000000e+09,3559871277,1,0.0,19.2,1,1,1,...,0,0,0,0,0,0,0,0,0,1
2,2.3,117850066.0,5.000000e+09,6782619635,1,0.0,19.2,1,1,1,...,0,0,0,0,0,0,0,0,0,1
3,4.4,112440547.0,5.000000e+09,9766230924,1,0.0,19.2,1,1,1,...,0,0,0,0,0,0,0,0,0,1
4,4.2,89177097.0,5.000000e+08,976536041,1,0.0,19.2,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
# normalize columns

cols_to_norm = ['Rating','Rating Count', 'Maximum Installs', 'Minimum Installs', 'Price', 'Size']
df[cols_to_norm] = df[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [55]:
df.head()

,Rating,Rating Count,Minimum Installs,Maximum Installs,Free,Price,Size,Developer Website,Privacy Policy,Ad Supported,...,4.4 and up,4.4W and up,5.0 - 8.0,5.0 and up,5.1 and up,6.0 and up,7.0 and up,7.1 and up,8.0 and up,Varies with device
0,0.742857,1.000000,0.50,0.519641,1,0.0,0.017313,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1,0.685714,0.867405,0.10,0.295238,1,0.0,0.017313,1,1,1,...,0,0,0,0,0,0,0,0,0,1
2,0.257143,0.850381,0.50,0.562517,1,0.0,0.017313,1,1,1,...,0,0,0,0,0,0,0,0,0,1
3,0.857143,0.811295,0.50,0.809963,1,0.0,0.017313,1,1,1,...,0,0,0,0,0,0,0,0,0,1
4,0.800000,0.643208,0.05,0.080989,1,0.0,0.017313,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
from sklearn.metrics.pairwise import cosine_similarity
cos_sim_data = pd.DataFrame(cosine_similarity(df))

cos_sim_data

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,1.000000,0.680085,0.606102,0.666219,0.585036,0.934860,0.566943,0.553154,0.449072,0.786280,...,0.515776,0.520989,0.673039,0.520881,0.519027,0.409781,0.436498,0.588761,0.406138,0.594868
1,0.680085,1.000000,0.929181,0.773850,0.634433,0.732417,0.621298,0.822254,0.823702,0.577199,...,0.585865,0.588578,0.625487,0.588499,0.587647,0.798992,0.623060,0.424767,0.693568,0.433074
2,0.606102,0.929181,1.000000,0.816529,0.523822,0.660303,0.505003,0.716868,0.832624,0.599399,...,0.581084,0.577595,0.613817,0.577466,0.579096,0.797285,0.606304,0.408443,0.690373,0.403254
3,0.666219,0.773850,0.816529,1.000000,0.468220,0.611481,0.454986,0.663332,0.673878,0.678707,...,0.631063,0.525488,0.558444,0.525359,0.522875,0.637234,0.559836,0.462768,0.634499,0.477002
4,0.585036,0.634433,0.523822,0.468220,1.000000,0.655535,0.662628,0.655564,0.544329,0.483020,...,0.520570,0.526657,0.559690,0.526624,0.524391,0.639794,0.443218,0.463456,0.524400,0.476101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0.409781,0.798992,0.797285,0.637234,0.639794,0.515399,0.538806,0.653509,0.880634,0.471741,...,0.651455,0.657474,0.577369,0.657323,0.655219,1.000000,0.579275,0.478483,0.770021,0.494126
4996,0.436498,0.623060,0.606304,0.559836,0.443218,0.546982,0.691060,0.573354,0.574325,0.503807,...,0.568380,0.577599,0.613818,0.577537,0.574092,0.579275,1.000000,0.370270,0.574101,0.394564
4997,0.588761,0.424767,0.408443,0.462768,0.463456,0.581525,0.604989,0.341105,0.606951,0.669342,...,0.605077,0.610236,0.648532,0.610299,0.608411,0.478483,0.370270,1.000000,0.608400,0.845221
4998,0.406138,0.693568,0.690373,0.634499,0.524400,0.512705,0.648636,0.650814,0.879765,0.466273,...,0.649755,0.654461,0.573211,0.654514,0.652825,0.770021,0.574101,0.608400,1.000000,0.487721
4999,0.594868,0.433074,0.403254,0.477002,0.476101,0.587567,0.490329,0.359582,0.489845,0.681363,...,0.740529,0.620266,0.659304,0.620813,0.616852,0.494126,0.394564,0.845221,0.487721,1.000000

In [57]:
df_test = df.head(5000)
df_validation = df_raw.head(5000)

df_test.set_index(np.arange(0,5000), inplace=True)
df_validation.set_index(np.arange(0,5000), inplace=True)

df_test.head()

,Rating,Rating Count,Minimum Installs,Maximum Installs,Free,Price,Size,Developer Website,Privacy Policy,Ad Supported,...,4.4 and up,4.4W and up,5.0 - 8.0,5.0 and up,5.1 and up,6.0 and up,7.0 and up,7.1 and up,8.0 and up,Varies with device
0,0.742857,1.000000,0.50,0.519641,1,0.0,0.017313,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1,0.685714,0.867405,0.10,0.295238,1,0.0,0.017313,1,1,1,...,0,0,0,0,0,0,0,0,0,1
2,0.257143,0.850381,0.50,0.562517,1,0.0,0.017313,1,1,1,...,0,0,0,0,0,0,0,0,0,1
3,0.857143,0.811295,0.50,0.809963,1,0.0,0.017313,1,1,1,...,0,0,0,0,0,0,0,0,0,1
4,0.800000,0.643208,0.05,0.080989,1,0.0,0.017313,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
# supported metrics are the following
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import manhattan_distances

euc_distance_data = pd.DataFrame(euclidean_distances(df))
cos_sim_data = pd.DataFrame(cosine_similarity(df))
man_distance_data = pd.DataFrame(manhattan_distances(df))

def recommend(index, metric="Cosine", number_of_recommendations=5):
    print("Recommendations using metric: " + metric)
    print("Recommendations for ")
    
    if metric == "Cosine":
        index_recomm = cos_sim_data.loc[index].sort_values(ascending=False).index.tolist()[1:number_of_recommendations + 1]
    elif metric == "Euclidean":
        index_recomm = euc_distance_data.loc[index].sort_values(ascending=False).index.tolist()[1:number_of_recommendations + 1]
    elif metric == "Manhattan":
        index_recomm = man_distance_data.loc[index].sort_values(ascending=False).index.tolist()[1:number_of_recommendations + 1]
    
    app_recomm =  df_validation['App Name'].loc[index_recomm].values
    result = {'Applications':app_recomm,'Index':index_recomm}
    
    return pd.DataFrame(result)

In [63]:
# 15 is the id of Snapchat
recommend(15)

Recommendations using metric: Cosine

                          Applications  Index
0                               TikTok      8
1         Amino: Communities and Chats    264
2                          We Heart It   1213
3       Hoop - New friends on Snapchat   2705
4  CSR Racing 2 – Free Car Racing Game    154