In [77]:
import pandas as pd
import numpy as np

In [78]:
df_raw = pd.read_csv("cleaned_top_5k.csv")
df_raw

,Unnamed: 0,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,...,Size,Minimum Android,Developer Website,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice
0,385470,WhatsApp Messenger,com.whatsapp,Communication,4.0,138557570.0,"5,000,000,000+",5.000000e+09,6265637751,True,...,19.2,Varies with device,1,"Oct 18, 2010","Jun 09, 2021",Everyone,1,False,False,True
1,304824,Instagram,com.instagram.android,Social,3.8,120206190.0,"1,000,000,000+",1.000000e+09,3559871277,True,...,19.2,Varies with device,1,"Apr 3, 2012","Jun 14, 2021",Teen,1,True,True,True
2,2222701,Facebook,com.facebook.katana,Social,2.3,117850066.0,"5,000,000,000+",5.000000e+09,6782619635,True,...,19.2,Varies with device,1,"Jun 16, 2021","Jun 16, 2021",Teen,1,True,True,False
3,881403,YouTube,com.google.android.youtube,Video Players & Editors,4.4,112440547.0,"5,000,000,000+",5.000000e+09,9766230924,True,...,19.2,Varies with device,1,"Oct 20, 2010","Jun 16, 2021",Teen,1,True,False,False
4,244319,Garena Free Fire - Rampage,com.dts.freefireth,Action,4.2,89177097.0,"500,000,000+",5.000000e+08,976536041,True,...,19.2,4.1 and up,1,"Dec 7, 2017","Jun 04, 2021",Mature 17+,1,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,300077,Family Track - Online Status : Usage & Last Seen,com.wtrack_android,Social,4.5,156507.0,"1,000,000+",1.000000e+06,1715323,True,...,7.2,4.1 and up,1,"Apr 16, 2019","Jun 11, 2021",Teen,1,True,True,False
4996,1473128,Kingdom Rush Frontiers - Tower Defense Game,com.ironhidegames.android.kingdomrushfrontiers,Strategy,4.8,156464.0,"1,000,000+",1.000000e+06,1583060,False,...,15.0,Varies with device,1,"Sep 25, 2013","May 20, 2021",Everyone 10+,1,True,True,False
4997,1629051,"Fynd Online Shopping App - Fashion, Beauty & more",co.go.fynd,Shopping,3.8,156446.0,"10,000,000+",1.000000e+07,16126498,True,...,29.0,4.4 and up,1,"Oct 22, 2015","Jun 03, 2021",Everyone,1,False,False,False
4998,2243442,Prime Peaks,com.a25apps.HillClimber,Racing,4.2,156387.0,"10,000,000+",1.000000e+07,13907756,True,...,34.0,4.4 and up,1,"Aug 24, 2015","May 28, 2021",Teen,1,True,True,False
4999,502443,Macy's,com.macys.android,Shopping,4.8,156299.0,"5,000,000+",5.000000e+06,7013371,True,...,88.0,5.0 and up,1,"Nov 16, 2011","May 28, 2021",Everyone,1,False,False,False

In [79]:
"""
Simulate a users 5 ratings... (try to do this for like 10 users)

Format should be the following:
user_id, app_id, rating...
"""
import random
import math
# generate the 5 apps that will be rated by the use

def get_random_number(min_score, max_score, probability_power):
    """
    Get a random number between min_score and max_score with a bias towards lower numbers
    That is done because the data is sorted by most popular applications, and the more 
    popular applications have a higher chance of being rated than lower rated ones.
    """
    result = math.floor(min_score + (max_score + 1 - min_score) * (math.pow(random.random(), probability_power)))
    
    return result


df = pd.DataFrame()

for i in range(1,10000):
    possible_number_of_ratings = np.arange(3,20)
    
    ratings = []
    app_ids = []
    user_ids = []
    
    chosen_number_of_ratings = random.choice(possible_number_of_ratings)

    while len(app_ids) != chosen_number_of_ratings:
        num = get_random_number(0, 4999, 10)
        if num not in app_ids:
            app_ids.append(num)
            
    for j in range(0, chosen_number_of_ratings):
        ratings.append(get_random_number(1,5, 0.66))
        
    for x in range(0, chosen_number_of_ratings):
        user_ids.append(i)
        
    data = pd.DataFrame({
            "user_id" : user_ids, 
            "app_id" : app_ids,
            "rating" : ratings
        })
        
    df = pd.concat([df, data])
    
df.head(30)

    user_id  app_id  rating
0         1     538       1
1         1     137       1
2         1       3       5
3         1       0       2
4         1       4       4
5         1       2       4
6         1      18       5
7         1    2554       5
8         1      89       4
9         1      16       5
10        1       1       5
0         2    2441       5
1         2       0       1
2         2    1578       5
3         2     259       4
4         2    2210       2
5         2     807       2
6         2      74       5
7         2    3413       4
8         2      36       5
9         2     228       2
10        2      25       4
11        2     676       5
0         3       0       4
1         3    2049       3
2         3       5       5
3         3     852       4
4         3    2135       4
5         3     111       4
6         3      18       5

In [80]:
df.shape

(110187, 3)

In [81]:
df.to_csv("user-item-100k-cleaned.csv")

In [15]:
random.random()

0.24942694294375722

In [4]:
from surprise import KNNWithMeans
from surprise import Dataset
from surprise.model_selection import GridSearchCV

data = Dataset.load_builtin("ml-100k")
sim_options = {
    "name": ["msd", "cosine"],
    "min_support": [3, 4, 5],
    "user_based": [False, True],
}

param_grid = {"sim_options": sim_options}

gs = GridSearchCV(KNNWithMeans, param_grid, measures=["rmse", "mae"], cv=3)
gs.fit(data)

print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
0.942778184785927
{'sim_options': {'name': 'msd', 'min_support': 3, 'user_based': False}}

In [3]:
data

In [46]:
ratings = [1,2,3]
appIds = [10,20,30]
userId = 1

data = { "user_id" : [1,1,1], 
         "app_id" : appIds,
         "rating" : ratings
       }

data2 = 
{
    "user_id" : [1,1,1], 
    "app_id" : appIds,
    "rating" : ratings
}

df = pd.DataFrame(data)


df2 = pd.DataFrame(data2)
res = pd.concat([df, df2], ignore_index=True)

res

   user_id  app_id  rating
0        1      10       1
1        1      20       2
2        1      30       3
3        1      10       1
4        1      20       2
5        1      30       3

In [75]:
for i in range(1,20):
    print(get_random_number(1,5, 0.66))

3
5
4
3
3
5
1
5
5
3
3
3
4
3
5
3
5
3
3